asgiref==3.9.2
attrs==26.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
clipboard==0.0.4
dj-database-url==3.1.2
Django==5.2.4
django-cors-headers==4.7.0
django-filter==25.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
environs==14.2.0
gunicorn
idna==3.10
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
marshmallow==4.0.1
numpy==2.3.5
pandas==2.3.3
psycopg2-binary==2.9.12
PyJWT==2.10.1
pyperclip==1.10.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
pytz==2025.2
pyvenv==0.2.2
PyYAML==6.0.2
referencing==0.37.0
requests==2.32.4
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.3
termcolor==1.1.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
websockets==15.0.1
whitenoise